.item {
  display: flex;
  align-items: center;
  color: #212121;
}

.item > img {
  margin-right: 10px;
}

.item > a {
  text-decoration: none;
}

.search {
  max-width: 450px;
  min-width: 350px;
}
